/* Write your CSS here */
.money-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.balance-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecfccb;
  border: 2px solid #84cc16;
  border-radius: 10px;
  width: 30%;
  padding: 15px;
}
.income-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  background-color: #cffafe;
  border: 2px solid #06b6d4;
  border-radius: 10px;
  padding: 15px;
}
.expenses-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  background-color: #ede9fe;
  border: 2px solid #7c3aed;
  border-radius: 10px;
  padding: 15px;
}
.image {
  width: 60px;
  height: 60px;
  margin: 25px;
}
.balance-heading {
  font-family: 'Roboto';
  color: #475569;
}
.balance-text {
  font-family: 'Roboto';
  color: #475569;
  font-size: 25px;
}
